.ftc_panel {
	display: none;
}

.ftc_active_panel {
	display: block !important;
}

input.ftc_data {
	width: 500px;
}

/* Override Kickstart menu so it does not take up so much room */
.menu li a {
	padding: 9px 20px !important;
}

/* Override Kickstart input field color. They set the background white but
 * don't change the text color. That sucks if your default text color
 * is a light gray or something similar. */
input {
	color: #111;
}

.menu {
	float: right;
	cursor: hand;
	cursor: pointer;
}