.ftc_overlayDiv {
	padding-left: 1em;
	border: 2px solid black;
	position: fixed;
	top: 0;
	left: 10%;
	width: 80%;
	background-color: #FFF;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	z-index: 10000;
}
